<html>
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Project CSS -->
	<link href="css/project.css" rel="stylesheet">
	<!-- Jquery and bootstrap scripts -->
	<script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/page_transfer.js"></script>
    
	<head>
		<title>
			Sign In
		</title>
	</head>

	<body>
		
        <div class="head_bar">
			<!-- Bar. It contatins 6 buttons -->
            <div class="head_text">Сервіс займання кабінетів НаУКМА</div>
		</div>
        
		<div class="login_container centered">
			<div class="news_container centered" style="width: 50%;">
                Проблеми з входом...
            </div>
		</div>
	</body>
</html>